body {
    background-color: #000000;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1em;
}

.nospace_masonry_container {
    min-width: 480px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 3px;
}

.nospace_masonry_item {
    width: 240px;
    max-width: 100%;
    height: 180px;
    background-color: #333333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #333333;
    border-radius: 3px;
    box-sizing: border-box;
    transition-property: top, bottom, left, right;
    transition-duration: 0.5s;
}

.nospace_masonry_item.width2 { width: 480px; }
.nospace_masonry_item.width3 { width: 720px; }

.nospace_masonry_item.height2 { height: 360px; }
.nospace_masonry_item.height3 { height: 540px; }
