.nospace_masonry_item {
    max-width: 100%;
    width: 240px;
    height: 180px;
    box-sizing: border-box;
    position: absolute;
}

.nospace_masonry_item.width2 { width: 480px; }
.nospace_masonry_item.width3 { width: 720px; }

.nospace_masonry_item.height2 { height: 360px; }
.nospace_masonry_item.height3 { height: 540px; }

.nospace_masonry_container {
    min-width: 480px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}